:root {
  /* COLORS */
  --dark-bg-hero-footer: #1f2937;
  --hero-main-text: #f9faf8;
  --hero-second-text: #e5e7eb;

  /* FONT-SIZES */
  --hero-main-font-s: 4.8rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border-style: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.15rem;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

a {
  color: var(--hero-second-text);
}

/* HEADER */
header {
  background-color: var(--dark-bg-hero-footer);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  span {
    color: var(--hero-main-text);
    font-size: 2.4rem;
  }
  nav {
    display: flex;
    gap: 5rem;
    font-size: 1.8rem;
    color: var(--hero-second-text);
  }
}
/* HERO-SECTION */
.hero-section {
  background-color: var(--dark-bg-hero-footer);
}

.hero {
  max-width: 130rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;

  .hero-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 4.8rem;
      font-weight: 900;
      color: var(--hero-main-text);
    }

    p {
      font-size: 1.8rem;

      color: var(--hero-second-text);
    }

    .sign-up-btn {
      max-width: 20rem;
      width: 100%;
      font-size: 2rem;
      padding: 1rem;
      border-radius: 1rem;
      color: var(--hero-main-text);
      background-color: #3882f6;

      cursor: pointer;
    }
  }

  .logo {
    width: 35rem;
    height: 35rem;
  }
}
/* INFORMATION-SECTION */

.information-section {
  text-align: center;
  padding: 6rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;

  h2 {
    padding-top: 2rem;
    font-size: 3.6rem;
    color: #1f2937;
  }
  .info-images {
    max-width: 130rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

    .images-box {
      max-width: 30rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;

      .info-image {
        width: 30rem;
        height: 30rem;
      }

      span {
        text-align: start;
        font-size: 2rem;
      }
    }
  }
}

/* #region Quote-Section */
.quote-section {
  background-color: var(--hero-second-text);
  figure {
    max-width: 130rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 3.6rem;
    font-weight: 300;
    justify-content: center;

    padding: 6rem 2rem;

    figcaption {
      text-align: end;
      font-weight: bold;
    }
  }
}
/* #endregion Quote-Section */

/* #region SIGN-UP-SECTION */
.sign-up-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;

  .sign-up-container {
    display: flex;
    justify-content: space-between;
    max-width: 130rem;
    width: 100%;
    color: var(--hero-main-text);
    background-color: #3882f6;
    padding: 4rem 6rem;
    border-radius: 1rem;
    font-size: 1.6rem;

    h3 {
      padding-bottom: 0.5rem;
    }
    button {
      width: auto;
      font-size: 2rem;
      padding: 1rem;
      border-radius: 1rem;
      color: var(--hero-main-text);
      background-color: #3882f6;
      border: 0.1rem solid var(--hero-main-text);
      cursor: pointer;
    }
  }
}
